In [7]:
import pandas as pd
import numpy as np

In [72]:
file = 'timestamps.csv'
timestamps = pd.read_csv(file)

In [81]:
times = timestamps[timestamps.columns[-1]]

In [82]:
times = pd.to_datetime(times)

In [83]:
times.sort_values(ascending=True, inplace=True)

In [86]:
df = pd.concat([times, times.diff()], axis=1)

In [88]:
df.columns = ['timestamps', 'differences']

In [89]:
df

                     timestamps     differences
2056  2018-04-02 20:48:35-07:00             NaT
2055  2018-04-02 20:51:46-07:00 0 days 00:03:11
2054  2018-04-02 20:56:31-07:00 0 days 00:04:45
2053  2018-04-02 20:57:31-07:00 0 days 00:01:00
2052  2018-04-02 21:02:45-07:00 0 days 00:05:14
...                         ...             ...
4     2023-03-27 22:55:25-07:00 0 days 00:00:06
3     2023-03-27 23:02:52-07:00 0 days 00:07:27
2     2023-03-27 23:08:42-07:00 0 days 00:05:50
1     2023-03-27 23:08:49-07:00 0 days 00:00:07
0     2023-03-27 23:20:00-07:00 0 days 00:11:11

[2057 rows x 2 columns]